.info-list {
  .title {
    font-size: 17px;
    // font-weight: bold;
    color: #051b28;
  }
  .label {
    color: #051b28;
    word-wrap: auto;
    text-overflow: clip;
  }
  ion-label {
    word-wrap: auto;
    white-space:normal;
  }
  span {
    color: #787878;
    margin-right:10px;
  }
}
