page-business {
  .slides {
    background-color: #f4f4f4;
    .slide-zoom {
      height: 100%;
      .ion-app.md [padding] .scroll-content {
        padding-top: 30px;
      }
      .content {
        background-color: #f4f4f4;
      }
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
      bottom: 0;
      top: 43px;
      right: 30px;
      left: 0;
    }
    .detail-card {
      @media screen and (min-width: 0) and (max-width: 767px) {
        .iimg {
          height: 180px;
          width: 100%;
          img {
            padding: 6px;
            width: 100%;
            height: 100%;
          }
        }
      }
      @media screen and(min-width: 768px) and (max-width: 992px) {
        .iimg {
          height: 210px;
          width: 100%;
          img {
            padding: 6px;
            width: 100%;
            height: 100%;
          }
        }
      }
      @media screen and(min-width: 1200px) {
        .iimg {
          height: 320px;
          width: 100%;
          img {
            padding: 6px;
            width: 100%;
            height: 100%;
          }
        }
      }
      .content {
        p {
          border-bottom: 1px solid #c0c0c0;
          margin-bottom: 5px;
        }
        .last-p {
          color: #f53d3d;
          border: 0;
          margin: 15px 0 5px 0; // button {
          //   display: inline-block;
          //   vertical-align: middle;
          //   width:45%;
          //   .fspan {
          //     text-align: left !important;
          //   }
          // }
        }
      }
    }
  }
}
