.goods-slide {
  padding: 0;
  text-align: center;
  .slide-zoom {
    height: 100%;
    width: 100%;
    @media screen and (min-width: 0) and (max-width: 767px) {
      .imgbox {
        height: 360px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    @media screen and(min-width: 768px) and (max-width: 992px) {
      .imgbox {
        height: 450px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    @media screen and(min-width: 1200px) {
      .imgbox {
        height: 850px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
