<ion-row class="rowList">
    <ion-col>
        <ion-card>
            <ion-card-content>
                <img src="assets/imgs/home/nin-live.png" />
                <ion-row class="bottom">
                    <ion-col col-8>
                        <span class="title">麻辣火锅</span>
                        <span class="gray">
                            欢乐餐厅
                            <small>100兑换</small>
                        </span>
                    </ion-col>
                    <ion-col col-4 class="total">8000分</ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col>
        <ion-card>
            <ion-card-content>
                <img src="assets/imgs/home/nin-live.png" />
                <ion-row class="bottom">
                    <ion-col col-8>
                        <span class="title">麻辣火锅</span>
                        <span class="gray">
                            欢乐餐厅
                            <small>100兑换</small>
                        </span>
                    </ion-col>
                    <ion-col col-4 class="total">8000分</ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-col>
</ion-row>