.info-list {
  .title {
    font-size: 17px; 
    color: #051b28;
  }
  .label {
    color: #051b28;
    word-wrap: auto;
    text-overflow: clip;
  }
  ion-label {
    word-wrap: auto;
    white-space: normal;
    vertical-align: middle;
    span {
      display: inline-block;
      vertical-align: middle;
      word-wrap: break-word;
      white-space: normal;
    }
    span:first-child {
      color: #787878;
      width: 30%;
      max-width: 80px;
    }
    span:last-child {
      text-indent: 10px;
      width: 68%;
    }
  }
}
