<ion-row class="rowList">
  <ng-container *ngFor="let item of dataList">
    <ion-col col-12>
      <ion-card>
        <ion-card-content (click)="clickCard(item.id)">
          <div>
            <img src="{{dataServer}}/{{item.Images[0].path}}">
          </div>
          <ion-row class="bottom">
            <ion-col col-12>
              <span class="title" text-center>{{item.name}}</span>
            </ion-col>
            <ion-col>
              <span class="gray">{{item.times}}人兑换</span>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ng-container>
</ion-row>
