<ion-row>
  <ion-col no-padding>
    <ion-row class="order-icon">
      <ion-col>
        <div>
          <ion-icon name="heart" (click)="onClick(text1.innerHTML)"></ion-icon>
          <p #text1>未兑换</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-icon name="heart" (click)="onClick(text2.innerHTML)"></ion-icon>
          <p #text2>已兑换</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-icon name="heart" (click)="onClick(text3.innerHTML)"></ion-icon>
          <p #text3>已过期</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
