<ion-row>
  <ion-col no-padding>
    <ion-card no-margin class="user-card">
      <ion-card-content no-padding>
        <ion-grid>
          <ion-row class="icon-row">
            <ion-col col-auto>
              <div class="icon-box">
                <img style="width:120px;height:120px" src="assets/imgs/home/hometop.png">
              </div>
            </ion-col>
            <ion-col col-4 class="name-box">
              <p class="text-name">商城用户</p>
            </ion-col>
            <ion-col col-auto>
              <p class="text-label">积分：</p>
              <p class="text-score">8888</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
